</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-9 logo"><img src="{themeUrl}/assets/img/logo-nova.png"/></div>
				<div class="col-3 botaoMenu">
					<div id="botaoMenu" class="closed animateDefault">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="navMenuHeader" class="navMenu">
					{menuPrincipal}
				</div>
			</div>
		</div>
	</header>