header{
	padding: 10px;
	background-color:#f4f4f4;
	border-bottom: 2px solid #EEE;
}
.animateDefault{
	transition: all 0.7s ease;
}
header .logo img{
    max-width: 120px;
}
header .botaoMenu{
	display: flex;
	align-items: center;
	justify-content: center;
}
header .botaoMenu #botaoMenu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 45px;
	height: 45px;
	border:3px solid #0741AD;
	padding: 4px;
	border-radius: 6px;
}
header .botaoMenu #botaoMenu.opened{
	border:2px solid #888;
}
header .botaoMenu #botaoMenu.opened span:nth-child(2){
	background-color:transparent;
}
header .botaoMenu #botaoMenu.opened span:nth-child(1),
header .botaoMenu #botaoMenu.opened span:nth-child(3){
	background-color:#888;
	position: fixed;
	transform: rotate(45deg);	
}
header .botaoMenu #botaoMenu.opened span:nth-child(3){
	transform: rotate(-45deg);		
}
header .botaoMenu #botaoMenu span{
	width: 32px;
	height: 3px;
	background-color:#0741AD;
}
header .navMenu{
	display: none;
	position: fixed;
	top: 99px;
	border: 1px solid #BBB;
	border-right: 0px;
	border-left: 0px;
	width: 100%;
	left: 0px;
	height: calc( 100% - 100px );
	background-color: #EEF;
}
header .navMenu #menuPrincipal{
	list-style: none;
	padding: 0px;
	width: 100%;
	padding: 6px 24px;
}
header .navMenu #menuPrincipal li{
	padding: 14px;
	text-align: center;
	border-bottom: 1px dotted #116;
}
header .navMenu #menuPrincipal li a{
	color:#116;
	font-size:20px;
	font-weight: bold;
}
footer{
	background-color: #222;
	padding: 10px;
	border-top:7px double #FFF;
	margin-top: 20px;
}
footer img{
	width: 90px;
}